.d-flex{
  display: flex;
}
.float-right{
  float: right;
}

@for $i from 1 through 1000{

  .pl-#{$i}px {
    padding-left: 1px * $i;
  }
  .pr-#{$i}px {
    padding-right: 1px * $i;
  }
  .pt-#{$i}px {
    padding-top: 1px * $i;
  }
  .pb-#{$i}px {
    padding-bottom: 1px * $i;
  }


  .w-#{$i}px {
    width: 1px * $i;
  }
}

